{% extends "sellerprofile/layout.html" %}
{% load static %}
{% block content %}
<div class="hold-transition login-page">
<div class="login-box">
  <div class="login-logo mr-4 m-0" >
    <img class=" mt-5" src="{% static '/images/logo.png'%}" style="width:150px;height:150px"/>
  </div>

  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
      

      <h4>Email Has been sent for password Reset.</h4>

      <p class="mt-3 mb-1">
        <a href="{% url 'login'%}">Login</a>
      </p>
      {% comment %} <p class="mb-0">
        <a href="register.html" class="text-center">Register a new membership</a>
      </p> {% endcomment %}
    </div>
    <!-- /.login-card-body -->
  </div>
</div>
</div>
{% endblock%}