{% extends "sellerprofile/layout.html" %}
{% block content %}
{% load static %}
<div class="hold-transition login-page">
<div class="login-box">
  <div class="login-logo mr-4 m-0" >
    <img class=" mt-5" src="{% static '/images/logo.png'%}" style="width:150px;height:150px"/>
  </div>

  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">You forgot your password? Here you can easily retrieve a new password.</p>

      <form action="" method="POST">
      {% csrf_token %}
        <div class="input-group mb-3">
          <input type="email" class="form-control" placeholder="Email" name="email">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <button type="submit" class="btn btn-primary btn-block">Request new password</button>
          </div>
          <!-- /.col -->
        </div>
      </form>

      <p class="mt-3 mb-1">
        <a href="{% url 'login' %}">Login</a>
      </p>
      {% comment %} <p class="mb-0">
        <a href="register.html" class="text-center">Register a new membership</a>
      </p> {% endcomment %}
    </div>
    <!-- /.login-card-body -->
  </div>
</div>
</div>
{% endblock%}











{% comment %} <h3>Password Reset</h3>
<h2>Enter Your Email</h2>
<form method="POST">
    {% csrf_token %}
    {{form}}
    <input type="submit" name="Send Email">
</form> {% endcomment %}