{% extends "sellerprofile/layout.html" %}
{% block content %}
{% include "sellerprofile/navbar.html"%}
{% load crispy_forms_tags %}
<div class="container-fluid">

    <div class="row justify-content-center pt-4 ">
        <div class="col-lg-4">
            <h3>Add New Category</h3>
        </div>
    </div>

    <div class="row justify-content-center pt-2">
        <div class="col-lg-4">
            <form class="form-horizontal" action="{% url 'addcat' %}" method="POST">
                {% csrf_token %}
                {{form|crispy}}
                <input type="submit" class="btn btn-success btn-md" Value="ADD">
            </form>
        </div>
    </div>
    

{% endblock %}