{% extends "sellerprofile/layout.html" %}
{% block content %}

{% load tags %}
<div class="container pt-3">
    <div class="row justify-content-end">
        <div class="col-sm-10 ">
            <h3>Are you sure you want to Request {{product}}</h3>
            <form method="POST">
                {% csrf_token %}
                <a href="{% url 'myrequests' %}">No</a>
                <input class="ml-4 btn btn-danger" type="submit" value="Delete" onclick="confirm()">
            </form>
           </div>
        </div>
    </div>
    <script>
        function confirm(){
            alert("Request Deleted Successfully")
        }
    </script> 
{% endblock  %}