{% extends "sellerprofile/layout.html" %}
{% block content %}
{% load static%}
<div class="login-page hold-transition">
<div class="login-box ">
  <div class="login-logo m-0 mr-4" >
    <img class="p-0 m-0" src="{% static '/images/logo.png'%}" style="width:150px;height:150px"/>
  </div>
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">Sign in to start your session</p>

      <form action="" method="POST">
      {% csrf_token %}
        <div class="input-group mb-3">
          <input type="text" class="form-control" name="username" placeholder="Email">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="password" class="form-control" name="password" placeholder="Password">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-8">
            {% comment %} <div class="icheck-primary">
              <input type="checkbox" id="remember">
              <label for="remember">
                Remember Me
              </label>
            </div> {% endcomment %}
          </div>
          <!-- /.col -->
          <div class="col-4">
            <button type="submit" class="btn btn-primary btn-block">Sign In</button>
          </div>
          <!-- /.col -->
        </div>
      </form>
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-danger col-sm-12 mt-4">{{message}}</div>
        {%endfor%}
      {% endif%}
      {% comment %} <div class="social-auth-links text-center mb-3">
        <p>- OR -</p>
        <a href="#" class="btn btn-block btn-primary">
          <i class="fab fa-facebook mr-2"></i> Sign in using Facebook
        </a>
        <a href="#" class="btn btn-block btn-danger">
          <i class="fab fa-google-plus mr-2"></i> Sign in using Google+
        </a>
      </div> {% endcomment %}
      <!-- /.social-auth-links -->

      <p class="mb-1">
        <a href="{% url 'reset_password'%}">I forgot my password</a>
      </p>
       <p class="mb-0">
        <a href="{% url 'cregister'%}" class="text-center">Register a new Account</a>
      </p>
      <p class="mb-0 mt-1">
        <a href="{% url 'registration'%}" class="text-center btn btn-info btn-small">Sell on Epak</a>
      </p>
    </div>
    <!-- /.login-card-body -->
  </div>
</div>
</div>
{% endblock %}