{% extends "sellerprofile/layout.html" %}
{% block content %}
{% include "sellerprofile/navbar.html"%}

<div class="container">
    <div class="row offset-3">
        <div class="col-sm-8">
            <div class="p-4 bg-light mt-4">
                Order# {{orderdetails.id}} <span class="float-right">Date Order... : {{orderdetails.date_orderd}}</span>
            </div>
        </div>
            
    </div>
    <div class="row offset-3">
        <div class="col-sm-8">
        <h4 class="mt-4 ml-2">Shipping Address Details</h4>
            <div class="p-4 bg-light mt-4">
                 
                <p class="p-0 m-0">Street Address <span class="float-right">{{orderdetails.address}}</span></p> <br>
                <p class="p-0 m-0">State <span class="float-right">{{orderdetails.state}}</span></p><br>
                <p class="p-0 m-0">City <span class="float-right">{{orderdetails.city}}</span></p><br>
                <p class="p-0 m-0">zipcode <span class="float-right">{{orderdetails.zipcode}}</span></p><br>
                <p class="p-0 m-0">Ph No <span class="float-right">{{orderdetails.ph_number}}</span></p><br>
                <p class="p-0 m-0">Email Address <span class="float-right">{{orderdetails.user.email}}</span></p><br>
            </div>
        </div>
    </div>
</div>


{% endblock %}