{% extends "gui/layout.html" %}
{% block content %}
<div class="container card mt-3 p-4">
  <div class="card-body">

    <!--Grid row-->
    <div class="row">

      <!--Grid column-->
      <div class="col-lg-8 mb-4">

        <!-- Pills navs -->
        <ul class="nav md-pills nav-justified pills-primary font-weight-bold">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#tabCheckoutBilling123" role="tab">Billing</a>
          </li>
          {% comment %} <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#tabCheckoutAddons123" role="tab">2. Addons</a>
          </li> {% endcomment %}
          <li class="nav-item">
            {% comment %} <a class="nav-link" data-toggle="tab" href="#tabCheckoutPayment123" role="tab">2. Payment</a> {% endcomment %}
          </li>
        </ul>

        <!-- Pills panels -->
        <div class="tab-content pt-4">

          <!--Panel 1-->
          <div class="tab-pane fade in show active" id="tabCheckoutBilling123" role="tabpanel">

            <!--Card content-->
            <form id="form" name="form" method="POST">

              <!--Grid row-->
              <div class="row username" id="user-info">

                <!--Grid column-->
                <div class="col-md-6 mb-4">

                  <!--firstName-->
                  <label for="firstName" class="">First name</label>
                  <input type="text" id="firstName" class="form-control">

                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-md-6 mb-2">

                  <!--lastName-->
                  <label for="lastName" class="">Last name</label>
                  <input type="text" id="lastName" class="form-control">

                </div>
                <!--Grid column-->

              </div>
              <!--Grid row-->

              <!--Username-->
              {% comment %} <div class="input-group mb-4" id="user-name">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">@</span>
                </div>
                <input type="text" class="form-control py-0" placeholder="Username" aria-describedby="basic-addon1">
              </div> {% endcomment %}

              <!--email-->
              <div id="email">
              <label for="email"  class="">Email (optional)</label>
              <input type="text" required class="form-control mb-4 email" placeholder="youremail@example.com">
              </div>
              <!--address-->
              <label for="address" class="">Address</label>
              <input type="text" required id="address" name="address" class="form-control mb-4" placeholder="1234 Main St">

              <!--address-2-->
              <label for="ph_number" class="">Contact Number</label>
              <input type="number" required name="ph_number" id="contact_number" class="form-control mb-4" placeholder="0300xxxxxx">

              <!--Grid row-->
              <div class="row">

                <!--Grid column-->
                <div class="col-lg-4 col-md-12 mb-4">

                  <label for="country">City</label>
                  <input type="text" required id="city" name="city" class="form-control mb-4" placeholder="City">
                  <div class="invalid-feedback">
                    Please select a valid country.
                  </div>

                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-4 col-md-6 mb-4">

                  <label for="state">State</label>
                  <input type="text" required id="state" name="state" class="form-control mb-4" placeholder="Enter State">
                  <div class="invalid-feedback">
                    Please provide a valid state.
                  </div>

                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-4 col-md-6 mb-4">

                  <label for="zip">Zip</label>
                  <input type="text" class="form-control" name="zipcode" id="zip" placeholder="" required>
                  <div class="invalid-feedback">
                    Zip code required.
                  </div>

                </div>
                <!--Grid column-->

              </div>
              <!--Grid row-->

              <hr>

              {% comment %} <div class="mb-1">
                <input type="checkbox" class="form-check-input filled-in" id="chekboxRules">
                <label class="form-check-label" for="chekboxRules">I accept the terms and conditions</label>
              </div>
              <div class="mb-1">
                <input type="checkbox" class="form-check-input filled-in" id="safeTheInfo">
                <label class="form-check-label" for="safeTheInfo">Save this information for next time</label>
              </div>
              <div class="mb-1">
                <input type="checkbox" class="form-check-input filled-in" id="subscribeNewsletter">
                <label class="form-check-label" for="subscribeNewsletter">Subscribe to our newsletter</label>
              </div> {% endcomment %}

              <hr>

              <button class="btn btn-success btn-lg btn-block" type="submit">Place Order</button>

            </form>

          </div>
          <!--/.Panel 1-->

          <!--Panel 2-->
          {% comment %} <div class="tab-pane fade" id="tabCheckoutAddons123" role="tabpanel">

            <!--Grid row-->
            <div class="row">

              <!--Grid column-->
              <div class="col-md-5 mb-4">

                <img src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" class="img-fluid z-depth-1-half"
                  alt="Second sample image">

              </div>
              <!--Grid column-->

              <!--Grid column-->
              <div class="col-md-7 mb-4">

                <h5 class="mb-3 h5">Additional premium support</h5>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, ea ut aperiam corrupti,
                  dolorem.</p>

                <!--Name-->
                <select class="mdb-select colorful-select dropdown-info">
                  <option value="" disabled>Choose a period of time</option>
                  <option value="1" selected>+6 months : 200$</option>
                  <option value="2">+12 months: 400$</option>
                  <option value="3">+18 months: 800$</option>
                  <option value="4">+24 months: 1200$</option>
                </select>

                <button type="button" class="btn btn-primary btn-md">Add premium support to the cart</button>

              </div>
              <!--Grid column-->

            </div>
            <!--Grid row-->

            <hr class="mb-5">

            <!--Grid row-->
            <div class="row">

              <!--Grid column-->
              <div class="col-md-5 mb-4">

                <img src="https://mdbootstrap.com/img/Photos/Others/images/44.jpg" class="img-fluid z-depth-1-half"
                  alt="Second sample image">

              </div>
              <!--Grid column-->

              <!--Grid column-->
              <div class="col-md-7 mb-4">

                <h5 class="mb-3 h5">MDB Membership</h5>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, ea ut aperiam corrupti,
                  dolorem.</p>

                <!--Name-->
                <select class="mdb-select colorful-select dropdown-info">
                  <option value="" disabled>Choose a period of time</option>
                  <option value="1" selected>+6 months : 200$</option>
                  <option value="2">+12 months: 400$</option>
                  <option value="3">+18 months: 800$</option>
                  <option value="4">+24 months: 1200$</option>
                </select>

                <button type="button" class="btn btn-primary btn-md">Add MDB Membership to the cart</button>

              </div>
              <!--Grid column-->

            </div>
            <!--Grid row-->

            <hr class="mb-4">

            <button class="btn btn-primary btn-lg btn-block" type="submit">Next step</button>

          </div> {% endcomment %}
          <!--/.Panel 2-->

          <!--Panel 3-->
          <div class="tab-pane fade" id="tabCheckoutPayment123" role="tabpanel">

            <div class="d-block my-3">
              <div class="mb-2">
                <input name="group2" type="radio" class="form-check-input with-gap" id="radioWithGap4" checked
                  required>
                <label class="form-check-label" for="radioWithGap4">Cash On Delivery</label>
              </div>
              
              <div class="mb-2">
                {% comment %} <input name="group2" type="radio" class="form-check-input with-gap" id="radioWithGap6" required>
                <label class="form-check-label" for="radioWithGap6">Paypal</label> {% endcomment %}
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 mb-3">
                {% comment %} <label for="cc-name123">Name on card</label>
                <input type="text" class="form-control" id="cc-name123" placeholder="" required>
                <small class="text-muted">Full name as displayed on card</small>
                <div class="invalid-feedback">
                  Name on card is required
                </div> {% endcomment %}
              </div>
              <div class="col-md-6 mb-3">
                {% comment %} <label for="cc-number123">Credit card number</label>
                <input type="text" class="form-control" id="cc-number123" placeholder="" required> {% endcomment %}
                {% comment %} <div class="invalid-feedback">
                  Credit card number is required
                </div> {% endcomment %}
              </div>
            </div>
            <div class="row">
              <div class="col-md-3 mb-3">
                {% comment %} <label for="cc-expiration123">Expiration</label>
                <input type="text" class="form-control" id="cc-expiration123" placeholder="" required>
                <div class="invalid-feedback">
                  Expiration date required
                </div> {% endcomment %}
              </div>
              <div class="col-md-3 mb-3">
                {% comment %} <label for="cc-cvv123">CVV</label>
                <input type="text" class="form-control" id="cc-cvv123" placeholder="" required>
                <div class="invalid-feedback">
                  Security code required
                </div> {% endcomment %}
              </div>
            </div>
            <hr class="mb-4">

            {% comment %} <button class="btn btn-primary btn-lg btn-block" type="submit">Place order</button> {% endcomment %}

          </div>
          <!--/.Panel 3-->

        </div>
        <!-- Pills panels -->


      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-4 mb-4">

        {% comment %} <button class="btn btn-success btn-lg btn-block" type="submit">Place order</button> {% endcomment %}

        <!--Card-->
        <div class="card">

          <!--Card content-->
          <div class="card-body">
            <h4 class="mb-4 mt-1 h5 text-center font-weight-bold">Summary</h4>
          {% for item in items%}
            <hr>
            <dl class="row">
              <dd class="col-sm-8">
                {{item.product.title}}
              </dd>
              <dd class="col-sm-4">
                {{item.get_total}} Rs.
              </dd>
            </dl>
            <hr>
            {%endfor%}
          </div>
          <div class="card-footer">
              <h5><strong>Total Items : {{order.get_cart_items}}<strong></h5>
              <h5><strong>Grand Total : {{order.get_cart_total}}<strong></h5>
          </div>

        </div>
        <!--/.Card-->
      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->

  </div>
</div>

<script type="text/javascript">
  if(user != 'AnonymousUser')
  {
    console.log('checkout')
    document.getElementById('user-info').innerHTML=''
    document.getElementById('email').innerHTML=''
  }
  var form=document.getElementById('form')
  //var shippingInfo={
    //'address':null,
    //'city':null,
    //'state':null,
    //'zipcode':null,
  //}
  //shippingInfo.address=form.address.value
  //shippingInfo.city=form.city.value
  //shippingInfo.state=form.state.value
  //shippingInfo.zipcode=form.zipcode.value
  

  console.log("address = ",address)
  console.log("state = ",state)
  form.addEventListener('submit', function(event){
    var state = document.getElementById("state").value;
  var address=form.address.value
  var city=form.city.value
  var ph_number=form.ph_number.value
 // var state=form.state.value
  var zipcode=form.zipcode.value
    event.preventDefault()
    console.log("form clicked")
    var url='/process_order'
    fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': "application/json",
                'Accept': 'application/json',
                'X-CSRFToken': csrftoken,
            },
            body: JSON.stringify({ 'address':address,'ph_number':ph_number,'city':city,'state':state,'zipcode':zipcode })
        })
        .then((response)=>response.json())
        .then((data) => {
            console.log('data:', data)
            alert("order Submitted")
            window.location.href="{% url 'main' %}"
        })

  })

</script>

{% endblock %}