{% extends "gui/layout.html" %}
{% load bootstrap3 %}

{% bootstrap_css %}
{% bootstrap_javascript %}
{% block content %}
    {% comment %} {% for product in products%}
        <li>{{product.title}}</li>{{product.user.username}} {{product.user.email}} {{product.user.sellerprofile.mobileNo}}
    
    {% endfor %} {% endcomment %}
    {% for review in reviews%}
        {% comment %} {{review.comment}} {% endcomment %}
    {% endfor %}
    <div class="container mt-3">
    <div class="row my-2">
        <div class="col-lg-8 order-lg-2">
            <ul class="nav nav-tabs ml-4">
                <li class="nav-item">
                    <a href="" data-target="#profile" data-toggle="tab" class="nav-link active">Products</a>
                </li>
                <li class="nav-item">
                    <a href="" data-target="#messages" data-toggle="tab" class="nav-link">Reviews</a>
                </li>
                {% comment %} <li class="nav-item">
                    <a href="" data-target="#edit" data-toggle="tab" class="nav-link">Edit</a>
                </li> {% endcomment %}
            </ul>
            <div class="tab-content py-4 ml-4">
                <div class="tab-pane active" id="profile">
                    {% comment %} <h5 class="mb-2">Products</h5> {% endcomment %}
                    <div class="row">
                        {% if products %} 
                        {% for product in products %}
                        <div class="col-sm-4 col-md-4 col-lg-4 mt-4">
                        <div
                            class="card card-cascade card-ecommerce m-0 p-0"
                            style="width: 230px"
                        >
                            <div class="view view-cascade overlay">
                            <img
                                class="card-img-top img-responsive mx-auto d-block text-center"
                                style="height: 120px; width: 120px"
                                src="{{product.image.url}}"
                                alt=""
                            />
                            <a>
                                <div class="mask rgba-white-slight"></div>
                            </a>
                            </div>
                            <div class="card-body card-body-cascade text-center">
                            <h6 class="card-title m-0 p-0" style="text-transform: capitalize;text-decoration:none">
                                <strong
                                ><a style="color:black" class="text-black"href="{% url 'detailview' product.id %}"
                                    >{{product.title}}</h6
                                ></strong
                                >
                            </h5>
                            <small>{{product.category}}</small><br />
                            {% if product.average_rating %}
                            <span style="color: orange">{{product.average_rating | floatformat}}</span>
                            <span style="color: orange" class="fa fa-star checked m-0 p-0"></span>
                            {% elif product.average_rating == true %}
                            <small>Not rated Yet</small>
                            {% endif%}
                                <div class="card-footer text-center">
                                    <span class="">{{product.price}} Rs</span> <br /><span class=""
                                    ><small
                                        >Min order
                                        <i class="badge badge-primary">{{product.minorder}}</i></small
                                    ></span
                                    >
                                    {% if request.user.is_authenticated %}
                                    <span class="float-right"
                                    ><a
                                        style="color:black"
                                        class=""
                                        href="{% url 'add_to_wishlist' product.id %}"
                                        data-toggle="tooltip"
                                        data-placement="top"
                                        title="Add to Wishlist"
                                        ><i class="fas fa-heart"></i></a
                                    ></span>
                                    {% else %}
                                    <span class="float-right"
                                    ><a
                                        class=""
                                        href="{% url 'login' %}"
                                        onclick="wishlist_alert()"
                                        data-toggle="tooltip"
                                        data-placement="top"
                                        title="Add to Wishlist"
                                        ><i class="fas fa-heart"></i></a
                                    ></span>
                                    {% endif %}
                                </div>
                                {% if request.user.is_authenticated %}
                                <button
                                    class="btn btn-success btn-sm add-btn update-cart mt-2"
                                    data-product="{{product.id}}"
                                    data-minorder="{{product.minorder}}"
                                    onClick="window.location.reload();"
                                    data-action="add"
                                >
                                    Add to cart
                                </button>
                                {% else %}
                                <a
                                    onclick="showAlert()"
                                    id="login-alert"
                                    class="btn btn-success"
                                    style="text-decoration: none !important; cursor: pointer"
                                    href="{% url 'login'%}"
                                    >Add to cart</a
                                >
                                {% endif %}
                                </div>
                            </div>
                            </div>
                            {% endfor %}
                            {% endif %}
                            
                        
                    </div>
                    <!--/row-->
                </div>
                
                <div class="tab-pane" id="messages">
                    <div class="alert alert-info alert-dismissable">
                        <a class="panel-close close" data-dismiss="alert">×</a> Total Reviews <strong>{{total_reviews}}</strong>
                    </div>
                    <table class="table table-hover">
                        <tbody>                                    
                                {% for review in reviews%}
                            <tr>
                                <td>
                                   <span class="float-left font-weight-bold">{{review.user_name}}</span> <br><span>{{review.comment}}</span><br>
                                   <div class="float-right">
                                   {% if review.rating == 5 %}
                                    <span style="color: orange;" class="fa fa-star checked"></span>
                                    <span style="color: orange;"class="fa fa-star checked"></span>
                                    <span style="color: orange;"class="fa fa-star checked"></span>
                                    <span style="color: orange;"class="fa fa-star checked"></span>
                                    <span style="color: orange;"class="fa fa-star checked"></span>
                                    {% endif%}
                                    {% if review.rating == 4 %}
                                    <span style="color: orange;"class="fa fa-star checked"></span>
                                    <span style="color: orange;"class="fa fa-star checked"></span>
                                    <span style="color: orange;"class="fa fa-star checked"></span>
                                    <span style="color: orange;"class="fa fa-star checked"></span>
                                    <span class="fa fa-star "></span>
                                    {% endif%}
                                    {% if review.rating == 3 %}
                                    <span style="color: orange;"class="fa fa-star checked"></span>
                                    <span style="color: orange;"class="fa fa-star checked"></span>
                                    <span style="color: orange;"class="fa fa-star checked"></span>
                                    <span class="fa fa-star "></span>
                                    <span class="fa fa-star "></span>
                                    {% endif%}
                                    {% if review.rating == 2 %}
                                    <span style="color: orange;"class="fa fa-star checked"></span>
                                    <span style="color: orange;"class="fa fa-star checked"></span>
                                    <span class="fa fa-star "></span>
                                    <span class="fa fa-star "></span>
                                    <span class="fa fa-star "></span>
                                    {% endif%}
                                    {% if review.rating == 1 %}
                                    <span style="color: orange;"class="fa fa-star checked"></span>
                                    <span class="fa fa-star "></span>
                                    <span class="fa fa-star "></span>
                                    <span class="fa fa-star "></span>
                                    <span class="fa fa-star "></span>
                                    {% endif%}
                                    </div><br>
                                   <span class="float-right">{{review.pub_date}}</span>
                                </td>
                            </tr>
                                {% endfor %}
                            
                        </tbody> 
                    </table>
                </div>
                <div class="tab-pane" id="edit">
                    <form role="form">
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">First name</label>
                            <div class="col-lg-9">
                                <input class="form-control" type="text" value="Jane">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Last name</label>
                            <div class="col-lg-9">
                                <input class="form-control" type="text" value="Bishop">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Email</label>
                            <div class="col-lg-9">
                                <input class="form-control" type="email" value="email@gmail.com">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Company</label>
                            <div class="col-lg-9">
                                <input class="form-control" type="text" value="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Website</label>
                            <div class="col-lg-9">
                                <input class="form-control" type="url" value="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Address</label>
                            <div class="col-lg-9">
                                <input class="form-control" type="text" value="" placeholder="Street">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label"></label>
                            <div class="col-lg-6">
                                <input class="form-control" type="text" value="" placeholder="City">
                            </div>
                            <div class="col-lg-3">
                                <input class="form-control" type="text" value="" placeholder="State">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Time Zone</label>
                            <div class="col-lg-9">
                                <select id="user_time_zone" class="form-control" size="0">
                                    <option value="Hawaii">(GMT-10:00) Hawaii</option>
                                    <option value="Alaska">(GMT-09:00) Alaska</option>
                                    <option value="Pacific Time (US &amp; Canada)">(GMT-08:00) Pacific Time (US &amp; Canada)</option>
                                    <option value="Arizona">(GMT-07:00) Arizona</option>
                                    <option value="Mountain Time (US &amp; Canada)">(GMT-07:00) Mountain Time (US &amp; Canada)</option>
                                    <option value="Central Time (US &amp; Canada)" selected="selected">(GMT-06:00) Central Time (US &amp; Canada)</option>
                                    <option value="Eastern Time (US &amp; Canada)">(GMT-05:00) Eastern Time (US &amp; Canada)</option>
                                    <option value="Indiana (East)">(GMT-05:00) Indiana (East)</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Username</label>
                            <div class="col-lg-9">
                                <input class="form-control" type="text" value="janeuser">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Password</label>
                            <div class="col-lg-9">
                                <input class="form-control" type="password" value="11111122333">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Confirm password</label>
                            <div class="col-lg-9">
                                <input class="form-control" type="password" value="11111122333">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label"></label>
                            <div class="col-lg-9">
                                <input type="reset" class="btn btn-secondary" value="Cancel">
                                <input type="button" class="btn btn-primary" value="Save Changes">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-4 order-lg-1 text-center border shadow-sm p-3 mb-5 bg-white rounded ">
            <img style="width:200px; height:200px" src="{{user_info.user.sellerprofile.profile_pic.url}}" class="mx-auto img-fluid img-circle d-block mt-3 rounded-circle" alt="avatar">
            <h5 class="mt-4 font-weight-bold text-capitalize">{{user_info.user.username}}</h5>
            <h6><i style="color:orange" class="fa fa-star"></i>{{total_reviews}}</h6>
            <h6 class="mt-4 ml-3"><span class="float-left text-muted "><i class="fas fa-map-marker-alt mr-1" aria-hidden="true"></i> From</span>  <span class="float-right text-capitalize font-weight-bold mr-3 text-muted">{{user_info.user.sellerprofile.city}}</span></h6><br>
            <h6 class="mt-4 ml-3"><span class="float-left text-muted "><i class="fas fa-mobile-alt mr-1" aria-hidden="true" aria-hidden="true"></i>  Ph no.</span>  <span class="float-right text-capitalize font-weight-bold mr-3 text-muted">{{user_info.user.sellerprofile.mobileNo}}</span></h6><br>
            <h6 class="mt-4 ml-3"><span class="float-left text-muted "><i class="fas fa-envelope mr-1" aria-hidden="true" aria-hidden="true"></i>  Email</span>  <span class="float-right font-weight-bold mr-3 text-muted">{{user_info.user.email}}</span></h6><br>
            <h6 class="mt-4 ml-3"><span class="float-left text-muted "><i class="fa fa-map mr-1" aria-hidden="true" aria-hidden="true"></i> State</span>  <span class="float-right text-capitalize font-weight-bold mr-3 text-muted">{{user_info.user.sellerprofile.state}}</span></h6><br>
            <h6 class="mt-4 ml-3 "><span class="float-left text-muted "><i class="fas fa-store mr-1" aria-hidden="true" aria-hidden="true"></i> Shop Name</span>  <span class="float-right text-capitalize font-weight-bold mr-3 text-muted">{{user_info.user.sellerprofile.shop_name}}</span></h6><br>
            
            {% comment %} <label class="custom-file">
                <input type="file" id="file" class="custom-file-input">
                <span class="custom-file-control">Choose file</span>
            </label> {% endcomment %}
        </div>
    </div>
</div>
{% endblock %}